# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/


# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Backup
backups/
exports/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db